.container {
  width: 100%;
  cursor: pointer;
}
.image {
  height: 250px;
  width: 100%;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: opacity .5s;

  &:hover {
    opacity: 0.8;
  }
}

.card-name:hover {
  color: orange;
}
