.container {
  width: 100%;
  margin: 10px 0;
  cursor: pointer;

  &:hover {
    .card-name {
      color: orange;
    }
  }
}
.image {
  height: 250px;
  width: 100%;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: opacity .5s;

  &:hover {
    opacity: 0.8;
  }
}

.card-name {
  transition: color .5s;
}
